h1, h2, h3, h4, h5, h6, p, a, li, span{
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1e1e;
}
.test-lection {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 75%;
  padding: 25px 30px 60px 30px;
  border: 15px solid transparent;
  border-radius: 30px;
  background-color: white;
  background-clip: padding-box;
  text-align: left;
}
.test-lection::after{
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  background: linear-gradient(#3dc832, #fff000);
  content: '';
  z-index: -1;
  border-radius: 30px;
}
.container-tl{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.test-num{
  margin: 0px;
  font-size: 18px;
}
.test-lection-content{
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 120px;
}
.test-lection-content-title{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 50px;
  font-weight: 300;
}
.test-lection-content-page{
  margin-bottom: 40px;
}
.test-lection-content-page span, .test-lection-content-page a{
  margin-right: 12px;
  font-size: 18px;
  text-decoration: none;
}
#no-active{
  color: black;
  border-bottom: 0px;
  cursor: unset;
}
.page-a{
  color: #3dc832;
  text-decoration: none;
  border-bottom: solid 1px rgba(61, 200, 50, 0.3);
}
.test-lection-content-text p{
  font-size: 22px;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.cursive{
  font-style: italic;
}
.ul-punt{
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  list-style: none;
}
.test-lection-content-text li{
  font-size: 22px;
  line-height: 28px;
}
.ul-punt li::before{
  content: "—";
  margin-right: 4px;
}
.test-lection-btn{
  margin-top: 40px;
  margin-left: 0px;
}
.test-lection-btn button{
  border: 0;
  cursor: pointer;
  background: #fff500;
  color: #1e1e1e;
  height: 33px;
  padding: 0 25px;
  border-radius: 4px;
  border-bottom: 3px solid #e1dc00;
  font: 17px/22px Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
}
.num-ul{
  list-style: 1;
  list-style: decimal;
}
.num-ul li{
  font-size: 22px;
  line-height: 28px;
}
#dis-none{
  display: none;
}
.test-lection-block{
  width: 80%;
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 60px;
}
.test-lection-block p{
  margin-top: 0px;
}
.test-lection-answers{
  padding-left: 0px;
  list-style: none;
  margin: 8px 0;
}
.test-lection-answers li{
  margin-bottom: 2px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
}
.test-lection-answers li input{
  margin: 0px;
  margin-left: 10px;
}
.test-lection-answers li span{
  vertical-align: top;
  width: 93%;
  padding: 10px 0 12px 5px;
  display: inline-block;
  font-size: 18px;
}
.test-lection-answers li:first-child{
  border-radius: 8px 8px 0 0;
}
.test-lection-answers li:last-child{
  border-radius: 0 0 8px 8px;
}
.test-lection-content-text p.answers-num{
  font-size: 14px;
}
.tstlct{
  text-align: center;
}